# Core
Django==5.2.6
djangorestframework==3.16.1
channels==4.3.1
django-cors-headers==4.8.0
sqlparse==0.5.3
asgiref==3.9.1

# QR / Utilities
qrcode==8.2
requests==2.32.3

# Data / ML
numpy==2.3.2
pandas==2.3.2
joblib==1.5.2

# Deployment helpers
gunicorn==21.2.0
whitenoise==6.6.0
**dj-database-url==0.5.0**
**psycopg2-binary==2.9.9**

# Timezone
tzdata==2025.2